.articles-wrapper {
    padding: 1.5rem 0 4rem;
    width: 100%;
    text-align: left;

    .article {
        border-radius: 0.6rem; 
        box-shadow: 0px 3px 0px 0px rgb(0 0 0 / 5%);
        margin-bottom: 2rem;
        width: 100%;
        &__img {
            border-radius: 0.6rem; 
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            width: 100%;
        }
        
    }
    
}

.text-wrapper {
    padding: 3rem 1.5rem;
    background-color: $white-color;
    border-radius: 0.6rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    

    .article__header {
        font-size: $h3-font-size;
        font-weight: $bold-font;
        margin-bottom: 0.5rem;
    }

    .article__text {
        font-size: $text-font-size;
        margin-bottom: 2rem;
        line-height: 3.2rem;
    }
}

@media (min-width: 1077px) {
    .articles-wrapper {
        display: flex;
        gap: 2.5rem;
    }
}